<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Fibonacci calc</title>
    <link rel="stylesheet" href="https://raw.githack.com/1337JohannV/vuejs/master/src/main/resources/templates/main.css">


</head>
<body>
<h1 id="welcome"> Fibonacci sequence element finder</h1>


<div id="root">

    <form>
        <input type="number" id="value"  min="1" step="1">
    </form>
    <button id="submit" class="button6" v-on:click="post"><a>Submit</a></button> <br>
    <p id="answer">Value of the number is: {{mssg}}</p>



</div>



<script src="https://cdn.jsdelivr.net/npm/vue">
</script>
<script>
    var app = new Vue({
        el:"#root",
        data:{mssg :""},
        methods:{
            post: function(){

                var input = document.getElementById("value").value;
                var url ="http://localhost:8080/calc";
                var msg ="";

                return fetch(url, {
                    method: "POST", // *GET, POST, PUT, DELETE, etc.
                    headers: {
                        "Content-Type": "text/plain"
                    },

                    body: String(input)
                })
                    .then(response => response.text().then(function (text) {
                    msg = String(text);
                    app.mssg = msg;

                }));



            }

        }
    })

</script>


</body>
</html>